<script setup lang="ts">
import { useAuthenticationStore } from '@/stores/authentication'
import { useCategories } from '@/stores/categories'
import { useArticles } from '@/stores/articles'
import { onMounted, onUnmounted, ref, watchEffect } from 'vue'
import { useI18n } from 'vue-i18n'
import { useRoute } from 'vue-router'
import Spinner from '@/components/RoundSpinner.vue'
import Categories from '@/components/RssCategories.vue'
import Articles from '@/components/RssArticles.vue'
import { transformCategoryUrlIdToCategoryId } from '@/services/backends'
import { REFRESH_INTERVAL } from '@/constants'
import type { Category } from '@/services/backends/rss.types'

const authenticationStore = useAuthenticationStore()
const { t } = useI18n()

const categories = useCategories()
const articles = useArticles()
const route = useRoute()

const activeCategoryId = ref<string | undefined>('')
const activeCategory = ref<Category | undefined>(undefined)

let refreshInterval: number | undefined

watchEffect(() => {
  activeCategoryId.value = transformCategoryUrlIdToCategoryId(
    authenticationStore.values,
    route.params.categoryId.toString(),
  )
  activeCategory.value = categories.categories.find(
    (category) => category.id === activeCategoryId.value,
  )
})

const refreshCategory = () => articles.list(activeCategoryId.value)

onMounted(() => {
  categories.list()
  refreshInterval = setInterval(() => articles.list(activeCategoryId.value), REFRESH_INTERVAL)
})

onUnmounted(() => {
  clearInterval(refreshInterval)
})

watchEffect(() => {
  articles.list(activeCategoryId.value)
})

watchEffect(() => {
  document.title = t('categories.title', { name: activeCategory?.value?.title })
})
</script>

<template>
  <div class="container mx-auto main-container">
    <h1 v-if="activeCategory?.title" class="h1 mb-4 font-bold text-xl">
      {{ t('categories.title', { name: activeCategory?.title }) }}
    </h1>

    <div class="flex">
      <aside class="basis-1/4 hidden sm:block">
        <Spinner v-if="categories.loading || !activeCategoryId" />
        <Categories
          v-else
          :active-category-id="activeCategoryId"
          :refresh-category="refreshCategory"
        />
      </aside>

      <div class="sm:basis-3/4 article-container">
        <Spinner v-if="articles.loading" />
        <Articles v-else />
      </div>
    </div>
  </div>
</template>

<style scoped>
.main-container {
  overflow-y: hidden;
  height: calc(100vh - 90px);
}

.article-container {
  overflow-y: auto;
  height: calc(100vh - 90px);
}
</style>
