<script setup lang="ts">
import { useI18n } from 'vue-i18n'
import { onMounted, ref } from 'vue'
import RoundSpinner from '@/components/RoundSpinner.vue'
import { useAuthenticationStore } from '@/stores/authentication'
import router from '@/router'
import type { AuthenticationData } from '@/services/backends/rss.types'

const { t } = useI18n()

const inputClasses = `mt-1
                    block
                    w-full
                    rounded-md
                    border-gray-300
                    shadow-sm
                    focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50`

const isLoggingIn = ref(false)
const errorMessage = ref('')
const authenticationStore = useAuthenticationStore()
const loginValues = ref<AuthenticationData>(authenticationStore.values)

onMounted(() => {
  document.title = t('login.page-title')
})

const handleSubmitForm = (event: Event) => {
  event.preventDefault()
  isLoggingIn.value = true
  errorMessage.value = ''
  authenticationStore
    .login(loginValues.value)
    .then(
      () => {
        isLoggingIn.value = false
      },
      (error) => {
        isLoggingIn.value = false
        errorMessage.value = error.message
        return Promise.reject(error)
      },
    )
    .then(() => router.push('/categories/unread'))
}
</script>

<template>
  <form
    class="form container sm:container-md sm:mx-auto max-w-3xl mb-6 grid grid-cols-1 gap-6"
    @submit="handleSubmitForm"
  >
    <label class="block">
      <span class="text-gray-700">{{ t('login.host') }}</span>
      <input
        :class="inputClasses"
        type="text"
        id="host"
        name="host"
        placeholder="localhost"
        v-model="loginValues.host"
        required
      />
    </label>

    <label class="block" for="username">
      <span class="text-gray-700">{{ t('login.username') }}</span>
      <input
        :class="inputClasses"
        type="text"
        id="username"
        name="username"
        placeholder="root"
        v-model="loginValues.username"
        required
      />
    </label>

    <label class="block" for="password">
      <span class="text-gray-700">{{ t('login.password') }}</span>
      <input
        :class="inputClasses"
        type="password"
        id="password"
        name="password"
        placeholder="password"
        v-model="loginValues.password"
        required
      />
    </label>

    <label class="block" for="server-type">
      <span class="text-gray-700">{{ t('login.server-type') }}</span>
      <select
        :class="inputClasses"
        id="server-type"
        name="server-type"
        v-model="loginValues.selectedBackend"
      >
        <option value="TTRSS" selected>TTRSS</option>
      </select>
    </label>

    <RoundSpinner v-if="isLoggingIn" />
    <div v-else class="flex justify-center">
      <button type="submit" class="rounded bg-sky-400 p-2">{{ t('login.connect') }}</button>
    </div>

    <div v-if="errorMessage" class="rounded bg-red-400 p-2 text-center">
      <h3 class="h3 font-bold">Error</h3>
      <p class="mt-1">{{ errorMessage }}</p>
    </div>
  </form>
</template>
