<script setup lang="ts">
import { useAuthenticationStore } from '@/stores/authentication'
import { useI18n } from 'vue-i18n'
import RssOptions from '@/components/RssOptions.vue'
import { VueFinalModal } from 'vue-final-modal'

const { t } = useI18n()
const authenticationStore = useAuthenticationStore()
const props = defineProps<{ close: () => void }>()
</script>

<template>
  <VueFinalModal class="flex justify-center items-center">
    <div class="bg-white m-2 p-4 rounded">
      <div class="m-2">
        <RssOptions />
      </div>

      <div class="m-2 flex">
        <button
          v-if="authenticationStore.values.isLoggedIn"
          class="rounded bg-sky-400/50 p-2 mr-2"
          type="button"
          @click="() => authenticationStore.logoutAndToGoLoginPage()"
        >
          {{ t('login.logout') }}
        </button>
        <button class="rounded bg-sky-400 p-2" type="button" @click="() => props.close()">
          {{ t('menu.close') }}
        </button>
      </div>
    </div>
  </VueFinalModal>
</template>
