<template>
  <div class="flex justify-center">
    <div class="spinner border border-2 border-sky-500/50 border-s-sky-900" />
  </div>
</template>

<style>
.spinner {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
</style>
