<script setup lang="ts">
import { useArticles } from '@/stores/articles'
import { useI18n } from 'vue-i18n'

const { t } = useI18n()
const articlesStore = useArticles()
</script>

<template>
  <p v-if="articlesStore.articles.length === 0" class="p-4">{{ t('articles.no-articles') }}</p>
  <div v-else v-for="article in articlesStore.articles" :key="article.id">
    <div
      class="shadow rounded border mb-2 overflow-x-hidden p-6"
      :class="{ 'is-read': article.isRead }"
    >
      <h3 class="font-semibold text-lg">
        <a
          :href="article.link"
          target="_blank"
          @click="() => articlesStore.markAsRead(article.id)"
          >{{ article.title }}</a
        >
      </h3>
      <p class="mt-2">{{ article.description }}</p>

      <div class="mt-2 flex justify-evenly">
        <button
          v-if="article.isRead"
          class="rounded bg-sky-400 p-2"
          @click="() => articlesStore.markAsUnread(article.id)"
        >
          {{ t('article.mark-as-unread') }}
        </button>
        <button
          v-else
          class="rounded bg-sky-400 p-2 text-white"
          @click="() => articlesStore.markAsRead(article.id)"
        >
          {{ t('article.mark-as-read') }}
        </button>
      </div>
    </div>
  </div>
</template>

<style>
.is-read {
  opacity: 0.5;
}
</style>
