<script setup lang="ts">
import { useCategories } from '@/stores/categories'

const props = defineProps<{ activeCategoryId: string; refreshCategory: () => void }>()
const categories = useCategories()
</script>

<template>
  <ul>
    <li
      v-for="category in categories.categories"
      :key="category.id"
      class="p-2 inlined-block w-8/12"
      :class="{ 'bg-sky-500 text-white': category.id === props.activeCategoryId }"
      @click="() => activeCategoryId === category.id && refreshCategory()"
    >
      <router-link :to="'/categories/' + category.id">
        {{ category.title }}
        <span v-if="category.unreadCount > 0" class="bg-red-500/50 rounded p-1">{{
          category.unreadCount
        }}</span>
      </router-link>
    </li>
  </ul>
</template>
