<script setup lang="ts">
import { useOptions } from '@/stores/options'
import { useI18n } from 'vue-i18n'

const { t } = useI18n()
const optionsStore = useOptions()
</script>

<template>
  <label class="flex items-center">
    <span class="text-gray-700">{{ t('options.fetch-descriptions') }}</span>
    <input
      class="flex mx-2"
      type="checkbox"
      id="fetchDescription"
      v-model="optionsStore.options.fetchDescription"
    />
  </label>
</template>
