<script setup lang="ts">
import { RouterView } from 'vue-router'
import { useAuthenticationStore } from './stores/authentication'
import { loadAuthData, loadOptionsData, saveAuthData, saveOptionsData } from './services/storage'
import { useI18n } from 'vue-i18n'
import { useOptions } from './stores/options'
import { ref } from 'vue'
import RssOptions from './components/RssOptions.vue'
import ModalMenu from './components/ModalMenu.vue'

const authenticationStore = useAuthenticationStore()
const authData = loadAuthData()
if (authData) {
  authenticationStore.values = authData
}
authenticationStore.$subscribe((mutation, state) => {
  saveAuthData(state.values)
})

const optionsStore = useOptions()
const optionsData = loadOptionsData()
if (optionsData) {
  optionsStore.options = optionsData
}
optionsStore.$subscribe((mutation, state) => {
  saveOptionsData(state.options)
})

const { t } = useI18n()
const isMenuModalOpened = ref(false)

const logout = () => {
  authenticationStore.logoutAndToGoLoginPage()
}
</script>

<template>
  <header class="mb-4 bg-gray-50 p-5 flex justify-between">
    <h2 class="h2 font-bold text-3xl">VueJS RSS</h2>

    <div class="hidden sm:block">
      <RssOptions />
    </div>

    <div class="hidden sm:block">
      <button
        v-if="authenticationStore.values.isLoggedIn"
        class="rounded bg-sky-400/50 p-2"
        type="button"
        @click="logout"
      >
        {{ t('login.logout') }}
      </button>
    </div>
    <div class="sm:hidden block">
      <button
        type="button"
        class="btn variant-outlined burger-menu"
        @click="() => (isMenuModalOpened = true)"
      >
        <span />
        <span />
        <span />
      </button>
    </div>
  </header>

  <main class="main">
    <RouterView />
  </main>

  <ModalMenu v-model="isMenuModalOpened" :close="() => (isMenuModalOpened = false)" />
</template>

<style scoped>
.main {
  margin: 0 4px;
}

.burger-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.burger-menu span {
  border: black 1px solid;
  width: 20px;
  margin-top: 5px;
}
</style>
